<script>
    import picture1 from "./picture1.png";
</script>

## シーンとは
配信などをしていて、画面の中身を一気に変更したいと思った場合、どうするのがよいでしょうか。ソースをひとつづつ消したり追加しなおすのはとてもめんどくさいです。そういうときのために、OBS Studioには、複数のソースのセットみたいなものをあらかじめ作っておくことのできる、シーンという機能があります。

## シーンを追加する
(人によって画面の配置は違うと思いますが、)左上のシーンと書かれたところの、+ボタンを押してください。そうすると、次のような画面が出ると思います。

<img src={picture1} alt="シーン追加" />

適当な名前でOKを押すと、新しいシーンが追加され、それが選択された状態になると思います。ソースが何もない状態になっているので、追加していくことになります。もとのシーンに戻したいときは、シーンのところから元のシーンを選択すれば戻ります。