<script>
    import picture1 from "./picture1.png";
</script>

## 外部ディスプレイへの表示
さて、スタジオモードを使えるようになったところですし、プログラム画面をてきとうなディスプレイに表示してみましょう。HDMIかなにかでパソコンと別のモニターを接続し、Windowsの設定から、表示画面を拡張した状態にしてください。つまり、パソコンのディスプレイと、つないだディスプレイに、別々の映像が表示されていることを確認してください。

その状態で、プログラムの画面を右クリックして、プログラムプロジェクターを開く、を押して、接続した外部ディスプレイを選択してください。そうすると、選択したディスプレイが、全画面でプログラムの映像を表示するようになると思います。

<img src={picture1} alt="外部ディスプレイに表示" />